body{
    background-color: rgba(215, 213, 213, 0.729);
}

.nav{
 align-content: center;
 margin-left: 50px;
}

.navbar{
    display: flex;
   background-color: #333;
   justify-content: space-around;
   align-items: center;
}
.navbar ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
}
.navbar li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 16px;
    font-size: 20px;
}
.navbar li a:hover{
    font-size: 2rem;
    color:#af1d1d;
    transition: 0.5s ease-in-out;
}

.icons{
    display: flex;    
}
.icon{
    padding: 10px;
}
.icon:hover i {
    font-size: 2em;
    top: 15%;
    transition: 0.5s ease-in-out;
}

.par{
    display: flex;
    justify-content: center;
    color: white;
    padding: 100px;
    margin-right: 50px;
}
img{
    
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


