body{
    background-color: rgba(215, 215, 215, 0.981);
}
#MyVideo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index:-1;
}
/* Navbar styling */
.nav{
 align-content: center;
}

.navbar{
    display: flex;
   background-color: #333;
   justify-content: space-around;
   align-items: center;
}
.navbar ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
}
.navbar li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 16px;
    font-size: 20px;
}
.navbar li a:hover{
    color:#0612f5;
}

.icons{
    display: flex;    
}
.icon{
    padding: 10px;
}
.icon:hover i {
    font-size: 2em;
    top: 15%;
    transition: 0.5s ease-in-out;
}
/* Homepage Styling */
img{
    
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.workinfo{
    position: relative;

}
.home{
    display: flex;
    justify-content: space-around;
    padding: 90px;
}
.info-personal{
    display: block;
}
.info-personal h1{
    font-size: 3rem;
}
.info-personal p{
    font-size: 20px;
}
.info-personal button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-style: none;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    color: #fff;
    background-color: rgb(65, 63, 63);
}
.info-personal button:hover{
    background-color: #000;
}

/* Work Experience */
.work-exp{
    position: absolute;
    left: 60px;
}
.work-exp h2{
    font-size: 30px;
    padding: 20px;
}
.companies{
    display: flex;
    justify-content: space-around;
    
}
.company img{
    display: flex;
    width: 100px;
    height: 100px;
    padding-right: 40px;
    /* margin: 0 50px; */

}
.info{
    display: flex;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
.info h1{
    color:#fff;
}
.abt li{
    list-style: none;
    color: #fff;
}

.vido{
    box-shadow: 0px 0px 20px rgba(66, 44, 44, 0.1);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 20px;
  }
  .card:hover{
    background-color: #af1d1d;
  }
  
  .card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card-grid {
    padding: 20px;
  
}
  


